In [1]:
# import libraries
import pandas as pd
import numpy as np

# Split Company Summary Data

In [94]:
# read data and check
dfCmpnySumry = pd.read_stata('../data/cmpnySumry/2001-2019소속회사개요(법인등록번호).dta')
dfCmpnySumry.head()

,공개년월,회계년,기업집단명,소속회사명,대표자,설립일,계열편입일,업종코드,영위업종,종업원수,...,기업공개일,자산총액,부채총액,자본총액,자본금,매출액,당기순이익,구분,법인등록번호,year2
0,2001,2000,고합,고합정밀화학(주),민병진,1978/10/11,1999/12/31,D2415,합성고무 및 플라스틱물질 제조업,0,...,,16,"1,762","-1,746","1,000",0,-5,회사정리절차개시,1.748110e+12,2001
1,2001,2000,고합,(주)고합엔프라,김상훈,1988/12/07,1988/12/07,D2415,합성고무 및 플라스틱물질 제조업,0,...,,0,"2,408","-2,408","6,150",0,-35,회사정리절차개시,1.101111e+12,2001
2,2001,2000,고합,(주)서울염직,민병진,1992/01/23,1993/01/02,D174,섬유 염색 및 가공업,0,...,,"3,876","70,749","-66,873","3,300",0,"-21,926",회사정리절차개시,1.812110e+12,2001
3,2001,2000,고합,(주)고합,최삼길,1966/01/24,2000/03/24,D244,화학섬유 제조업,"1,899",...,1973/08/02,"2,438,965","2,968,923","-529,958","214,533","1,254,997","-1,266,782",워크아웃,1.341110e+12,2001
4,2001,2000,고합,경일건설(주),이상복,1971/09/22,1978/04/15,F4512,토목시설물 건설업,35,...,,"38,148","20,292","17,856","1,974","16,079","3,006",회사정리절차개시,1.243110e+12,2001

In [30]:
len(dfCmpnySumry)

27190

In [31]:
dfCmpnySumry.year2.unique()

array([2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011,
       2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019], dtype=int16)

In [32]:
dfCmpnySumry.groupby('year2').count()

,공개년월,회계년,기업집단명,소속회사명,대표자,설립일,계열편입일,업종코드,영위업종,종업원수,...,결산주총일,기업공개일,자산총액,부채총액,자본총액,자본금,매출액,당기순이익,구분,법인등록번호
year2,,,,,,,,,,,,,,,,,,,,,
2001,624,624,624,624,624,624,624,624,624,624,...,624,624,624,624,624,624,624,624,624,624
2002,704,704,704,704,704,704,704,704,704,704,...,704,704,704,704,704,704,704,704,704,704
2003,841,841,841,841,841,841,841,841,841,841,...,841,841,841,841,841,841,841,841,841,841
2004,884,884,884,884,884,884,884,884,884,884,...,884,884,884,884,884,884,884,884,884,884
2005,1312,1312,1312,1312,1312,1312,1312,1312,1312,1312,...,1312,1312,1312,1312,1312,1312,1312,1312,1312,1312
2006,1117,1117,1117,1117,1117,1117,1117,1117,1117,1117,...,1117,1117,1117,1117,1117,1117,1117,1117,1117,1117
2007,1196,1196,1196,1196,1196,1196,1196,1196,1196,1196,...,1196,1196,1196,1196,1196,1196,1196,1196,1196,1196
2008,1681,1681,1681,1681,1681,1681,1681,1681,1681,1681,...,1681,1681,1681,1681,1681,1681,1681,1681,1681,1681
2009,1137,1137,1137,1137,1137,1137,1137,1137,1137,1137,...,1137,1137,1137,1137,1137,1137,1137,1137,1137,1137
2010,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264,...,1264,1264,1264,1264,1264,1264,1264,1264,1264,1264
2011,1554,1554,1554,1554,1554,1554,1554,1554,1554,1554,...,1554,1554,1554,1554,1554,1554,1554,1554,1554,1554
2012,1832,1832,1832,1832,1832,1832,1832,1832,1832,1832,...,1832,1832,1832,1832,1832,1832,1832,1832,1832,1832
2013,1769,1769,1769,1769,1769,1769,1769,1769,1769,1769,...,1769,1769,1769,1769,1769,1769,1769,1769,1769,1769
2014,1677,1677,1677,1677,1677,1677,1677,1677,1677,1677,...,1677,1677,1677,1677,1677,1677,1677,1677,1677,1677
2015,1696,1696,1696,1696,1696,1696,1696,1696,1696,1696,...,1696,1696,1696,1696,1696,1696,1696,1696,1696,1696
2016,1736,1736,1736,1736,1736,1736,1736,1736,1736,1736,...,1736,1736,1736,1736,1736,1736,1736,1736,1736,1736
2017,1980,1980,1980,1980,1980,1980,1980,1980,1980,1980,...,1980,1980,1980,1980,1980,1980,1980,1980,1980,1980
2018,2083,2083,2083,2083,2083,2083,2083,2083,2083,2083,...,2083,2083,2083,2083,2083,2083,2083,2083,2083,2083
2019,2103,2103,2103,2103,2103,2103,2103,2103,2103,2103,...,2103,2103,2103,2103,2103,2103,2103,2103,2103,2103

In [95]:
dfCmpnySumry.columns

Index(['공개년월', '회계년', '기업집단명', '소속회사명', '대표자', '설립일', '계열편입일', '업종코드', '영위업종',
       '종업원수', '결산기일', '결산주총일', '기업공개일', '자산총액', '부채총액', '자본총액', '자본금', '매출액',
       '당기순이익', '구분', '법인등록번호', 'year2'],
      dtype='object')

In [96]:
for y in range(2001, 2020):
    df = dfCmpnySumry[dfCmpnySumry['year2'] == y]
    df.to_excel(f"../data/cmpnySumry/cmpnySumry{y}Kor.xlsx", index=False)

In [97]:
dfCmpnySumry.columns = ['publicYm', 'fisclYr', 'unityGrupNm', 'entrprsNm', 'rprsntvNm', 'fondDe',\
                        'grinil', 'indutyCode', 'indutyNm', 'ordtmEmplyCo', 'stacntDudt', 'beforeBsnsStacntDe',\
                        'entrprsOthbcDe', 'assetsTotamt', 'debtTotamt', 'caplTotamt', 'caplAmount', 'selngAmount', 'thstrmNtpfAmount',\
                        'reconstrctur', 'jurirno', 'year2']

In [98]:
for y in range(2001, 2020):
    df = dfCmpnySumry[dfCmpnySumry['year2'] == y]
    df.to_excel(f"../data/cmpnySumry/cmpnySumry{y}Eng.xlsx", index=False)

# Company Summary Data 2021

In [3]:
dfCmpnySumry21 = pd.read_csv('../data/cmpnySumry/cmpnySumry2021.csv', encoding='cp949')
dfCmpnySumry21.head()

,법인등록번호,자산총액,직전사업결산일자,자본금액,자본총액,회사구분,부채총액,소속회사명,기업공개일자,기업설립일,...,업종명,상시종업원수,공개년월,출력순위,대표자명,매출액,결산기일,당기순이익,기업집단명,rcmgCode
0,1.100000e+12,2.490000e+13,20210323.0,1.410000e+11,9.600000e+12,일반회사,1.530000e+13,롯데쇼핑,20060209.0,19700702,...,소매업; 자동차 제외,24963,202105,1444,강희태,8.710000e+12,20201231.0,-1.030000e+12,롯데,620068
1,1.100000e+12,1.190000e+13,20210326.0,4.040000e+11,4.420000e+12,일반회사,7.450000e+12,지에스건설,19810803.0,19691219,...,종합 건설업,6928,202105,2196,임병용,8.890000e+12,20201231.0,3.270000e+11,지에스,500143
2,1.100000e+12,6.240000e+11,20210331.0,1.685000e+10,3.520000e+11,일반회사,2.720000e+11,삼라,NaN,19690826,...,종합 건설업,12,202105,276,조유선,1.490000e+11,20201231.0,7.785100e+10,SM,500429
3,1.100000e+12,7.360000e+12,20200325.0,4.900000e+11,3.490000e+12,일반회사,3.870000e+12,한화,19760625.0,19521028,...,화학 물질 및 화학제품 제조업; 의약품 제외,5026,202105,1053,옥경석 외,4.000000e+12,20191231.0,1.290000e+11,한화,350893
4,1.100000e+12,1.630000e+12,20210326.0,1.838800e+10,7.540000e+11,일반회사,8.800000e+11,동원산업,19890307.0,19690416,...,어업,761,202105,1343,이명우,7.020000e+11,20201231.0,7.895000e+10,동원,100030

In [4]:
dfCmpnySumry21.columns

Index(['법인등록번호', '자산총액', '직전사업결산일자', '자본금액', '자본총액', '회사구분', '부채총액', '소속회사명',
       '기업공개일자', '기업설립일', '집단편입일', '업종코드', '업종명', '상시종업원수', '공개년월', '출력순위',
       '대표자명', '매출액', '결산기일', '당기순이익', '기업집단명', 'rcmgCode'],
      dtype='object')

In [5]:
dfCmpnySumry21['회계년'] = 2020
dfCmpnySumry21['year2'] = 2021

In [6]:
dfCmpnySumry21 = dfCmpnySumry21[['공개년월', '회계년', '기업집단명', '소속회사명', '대표자명', '기업설립일',\
                                 '집단편입일', '업종코드', '업종명', '상시종업원수', '결산기일', '직전사업결산일자',\
                                 '기업공개일자', '자산총액', '부채총액', '자본총액', '자본금액', '매출액', '당기순이익',\
                                 '회사구분', '법인등록번호', 'year2', 'rcmgCode']]

In [7]:
dfCmpnySumry21.to_excel("../data/cmpnySumry/cmpnySumry2021Kor.xlsx", index=False)

In [8]:
dfCmpnySumry21.columns = ['publicYm', 'fisclYr', 'unityGrupNm', 'entrprsNm', 'rprsntvNm', 'fondDe',\
                          'grinil', 'indutyCode', 'indutyNm', 'ordtmEmplyCo', 'stacntDudt', 'beforeBsnsStacntDe',\
                          'entrprsOthbcDe', 'assetsTotamt', 'debtTotamt', 'caplTotamt', 'caplAmount', 'selngAmount', 'thstrmNtpfAmount',\
                          'reconstrctur', 'jurirno', 'year2', 'rcmgCode']

In [9]:
dfCmpnySumry21.to_excel("../data/cmpnySumry/cmpnySumry2021Eng.xlsx", index=False)

# Company Summary Data 2020

In [64]:
dfCmpnySumry20 = pd.read_csv('../data/cmpnySumry/cmpnySumry2020.csv')
dfCmpnySumry20.head()

,공개년월,기업집단명,소속회사명,대표자,설립일,계열편입일,업종코드,영위업종,종업원수,결산기일,...,자산총액,부채총액,자본총액,자본금,매출액,당기순이익,구분,법인등록번호,kiscode,rcmgCode
0,202005,넥슨,(유)가승개발,서춘식,2016/01/21,2016/01/21,R91,스포츠 및 오락관련 서비스업,3,2019/12/31,...,"15,208","6,064","9,144",100,0,-465,일반회사,1345140003989,HM8099,1.802408e+09
1,202005,지에스,(유)가승개발,서춘식,2016/01/21,2016/04/01,R91,스포츠 및 오락관련 서비스업,3,2019/12/31,...,"15,208","6,064","9,144",100,NaN,-465,일반회사,1345140003989,HM8099,1.802408e+09
2,202005,카카오,(유)매디슨카운티의다리,이명한,2016/11/16,2020/02/03,R90,"창작, 예술 및 여가관련 서비스업",0,2019/12/31,...,11,28,-17,10,3,2,일반회사,1101140192605,HV8949,1.803409e+09
3,202005,엘에스,(유)빌드윈문경태양광발전,김선철,2018/12/11,2019/02/01,D35,"전기, 가스, 증기 및 공기 조절 공급업",1,2019/12/31,...,331,0,331,331,0,0,일반회사,1754140000582,JJ5268,2.102105e+09
4,202005,엘에스,(유)빌드윈인동태양광발전,김선철,2018/12/11,2019/02/01,D35,"전기, 가스, 증기 및 공기 조절 공급업",1,2019/12/31,...,"4,883","4,140",743,756,0,-13,일반회사,1760140002014,JJ5267,2.102105e+09

In [65]:
dfCmpnySumry20['회계년'] = 2019
dfCmpnySumry20['year2'] = 2020

In [66]:
dfCmpnySumry20.columns

Index(['공개년월', '기업집단명', '소속회사명', '대표자', '설립일', '계열편입일', '업종코드', '영위업종', '종업원수',
       '결산기일', '결산주총일', '기업공개일', '자산총액', '부채총액', '자본총액', '자본금', '매출액', '당기순이익',
       '구분', '법인등록번호', 'kiscode', 'rcmgCode', '회계년', 'year2'],
      dtype='object')

In [67]:
dfCmpnySumry20[dfCmpnySumry20['rcmgCode'].isna()]

,공개년월,기업집단명,소속회사명,대표자,설립일,계열편입일,업종코드,영위업종,종업원수,결산기일,...,자본총액,자본금,매출액,당기순이익,구분,법인등록번호,kiscode,rcmgCode,회계년,year2
154,202005,네이버,(주)락스퀘어,조성환,2017/04/28,2018/03/01,J58,출판업,42,2019/12/31,...,"-3,970",34,NaN,"-3,024",일반회사,1101116389757,NaN,NaN,2019,2020
628,202005,농협,(주)인코단트래이딩,방재일,1998/09/25,2019/07/01,C14,"의복, 의복 액세서리 및 모피제품 제조업",0,2019/12/31,...,"-1,966",178,"2,221",-230,일반회사,1101111590333,NaN,NaN,2019,2020
1402,202005,삼성,삼성코닝어드밴스드글라스(유),정지용,2012/04/27,2012/06/01,C23,비금속 광물제품 제조업,314,2019/12/31,...,"347,492","430,000","244,202",68,일반회사,1648140000991,NaN,NaN,2019,2020

In [69]:
dfCmpnySumry20.iloc[628, -3]

nan

In [70]:
dfCmpnySumry20.iloc[628, -3] = 1403403617

In [71]:
dfCmpnySumry20.iloc[1402, -3]

nan

In [72]:
dfCmpnySumry20.iloc[1402, -3] = 19010413

In [74]:
dfCmpnySumry20['rcmgCode'].nunique()

2273

In [75]:
len(dfCmpnySumry20)

2284

In [76]:
dfCmpnySumry20.columns

Index(['공개년월', '기업집단명', '소속회사명', '대표자', '설립일', '계열편입일', '업종코드', '영위업종', '종업원수',
       '결산기일', '결산주총일', '기업공개일', '자산총액', '부채총액', '자본총액', '자본금', '매출액', '당기순이익',
       '구분', '법인등록번호', 'kiscode', 'rcmgCode', '회계년', 'year2'],
      dtype='object')

In [82]:
dfCmpnySumry20 = dfCmpnySumry20[['공개년월', '회계년', '기업집단명', '소속회사명', '대표자', '설립일',\
                                 '계열편입일', '업종코드', '영위업종', '종업원수', '결산기일', '결산주총일',\
                                 '기업공개일', '자산총액', '부채총액', '자본총액', '자본금', '매출액', '당기순이익',\
                                 '구분', '법인등록번호', 'year2', 'rcmgCode']]

KeyError: "['공개년월', '회계년', '기업집단명', '소속회사명', '대표자', '설립일', '계열편입일', '업종코드', '영위업종', '종업원수', '결산기일', '결산주총일', '기업공개일', '자산총액', '부채총액', '자본총액', '자본금', '매출액', '당기순이익', '구분', '법인등록번호'] not in index"

In [87]:
dfCmpnySumry20.to_excel("../data/cmpnySumry/cmpnySumry2020Kor.xlsx", index=False)

In [88]:
dfCmpnySumry20.columns = ['publicYm', 'fisclYr', 'unityGrupNm', 'entrprsNm', 'rprsntvNm', 'fondDe',\
                          'grinil', 'indutyCode', 'indutyNm', 'ordtmEmplyCo', 'stacntDudt', 'beforeBsnsStacntDe',\
                          'entrprsOthbcDe', 'assetsTotamt', 'debtTotamt', 'caplTotamt', 'caplAmount', 'selngAmount', 'thstrmNtpfAmount',\
                          'reconstrctur', 'jurirno', 'year2', 'rcmgCode']

In [89]:
dfCmpnySumry20.to_excel("../data/cmpnySumry/cmpnySumry2020Eng.xlsx", index=False)