In [42]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
from selenium.webdriver.common.by import By
import chromedriver_autoinstaller
import pandas as pd
from time import sleep
import os
import re

In [43]:
chromedriver_autoinstaller.install(path="../utils/")

'/Users/choidamian/Chaebol/utils/101/chromedriver'

In [4]:
year = 2019

In [15]:
dfAppnGroupSttus = pd.read_excel(f'../data/grpSumry/appnGroupSttus/appnGroupSttus{year}.xlsx')
dfAppnGroupSttus = dfAppnGroupSttus[dfAppnGroupSttus['smerNm'].str.len() <= 3]
dfAppnGroupSttus = dfAppnGroupSttus.reset_index().drop(columns=['index'])
dfAppnGroupSttus.head()

,unityGrupNm,unityGrupCode,smerNm,repreCmpny,sumCmpnyCo,invstmntLmtt,entrprsCl
0,삼성,K1000032,이재용,삼성전자(주),62,상호출자제한집단,일반
1,현대자동차,K3000027,정몽구,현대자동차(주),53,상호출자제한집단,일반
2,에스케이,K1000050,최태원,에스케이(주),111,상호출자제한집단,일반
3,엘지,K1000051,구광모,(주)엘지,75,상호출자제한집단,일반
4,롯데,K1000027,신동빈,롯데지주(주),95,상호출자제한집단,일반

In [9]:
dfGrpNmIdPrev = pd.read_excel('../data/prev/2001_2018소속회사개요(firmid).xlsx')
dfGrpNmIdPrev.head()

,year2회사명,year2회사명grpcode,year2,ranking,chaebol,grpname2,grpname,grpcode,firmname,firmid,...,결산기일,결산\n주총일,기업\n공개일,자산총액,부채총액,자본총액,자 본 금,매 출 액,당기\n순이익,구분
0,2016(유)가승개발,2016(유)가승개발2703408,2016,7,1,지에스,gs,2703408.0,(유)가승개발,1.802408e+09,...,2015/12/31,2016/03/25,NaN,4000,0,4000,40,0,0,일반회사
1,2017(유)가승개발,2017(유)가승개발2703408,2017,7,1,지에스,gs,2703408.0,(유)가승개발,1.802408e+09,...,42735,42821,NaN,3911,45,3866,40,0,-134,일반회사
2,2017(유)가승개발,2017(유)가승개발1902205,2017,56,1,넥슨,nexon,1902205.0,(유)가승개발,1.802408e+09,...,2016/12/31,2017/03/27,NaN,3911,45,3866,40,0,-134,일반회사
3,2018(유)가승개발,2018(유)가승개발2703408,2018,7,1,지에스,gs,2703408.0,(유)가승개발,1.802408e+09,...,2017/12/31,2018/03/20,NaN,5783,33,5750,60,0,-116,일반회사
4,2018(유)가승개발,2018(유)가승개발1902205,2018,52,1,넥슨,nexon,1902205.0,(유)가승개발,1.802408e+09,...,2017/12/31,2018/03/20,NaN,5783,33,5750,60,0,-116,일반회사

In [10]:
dfGrpNmIdPrev = dfGrpNmIdPrev[dfGrpNmIdPrev['year2'] == 2018]
len(dfGrpNmIdPrev)

2087

In [68]:
dfGrpNmId = pd.DataFrame()
dfGrpNmId['grpname2'] = dfAppnGroupSttus['unityGrupNm']

In [69]:
dfGrpNmIdPrev[['grpname2', 'grpname', 'grpcode']].drop_duplicates()

      grpname2      grpname    grpcode
3          지에스           gs  2703408.0
4           넥슨        nexon  1902205.0
8          신세계    shinsegae      577.0
35         네이버        naver  1502101.0
39        중흥건설    jungheung      743.0
43          동부       dongbu      365.0
75          농협           nh    15056.0
85          효성      hyosung      971.0
105        엘에스           ls  2402204.0
168       대우건설      dwconst  1303805.0
208       에스케이           sk      535.0
221      하이트진로         hite      732.0
223     금호석유화학          kpc    11140.0
335         동원      dongwon      381.0
350        포스코        posco      853.0
367         롯데        lotte      283.0
370         한화       hanwha      913.0
383         SM           SM      192.0
387        씨제이           cj      720.0
410         태영     taeyoung      844.0
419         하림        harim    24062.0
423         유진      eugenes      653.0
470         대림       daelim      321.0
510         영풍   youngpoong      632.0
526         태광     taekwang      841.0
544        이랜드        eland      652.0
563         엘지           lg      282.0
564        카카오        kakao    36027.0
643         부영     booyoung    16032.0
655       호반건설        hoban    26023.0
685     교보생명보험  kyobodirect      145.0
819       오씨아이         dych      378.0
847       미래에셋   miraeasset  2602105.0
872        코오롱        kolon      811.0
924      현대자동차      hymotor  1201801.0
988     한국투자금융         kinv  2702504.0
1037      케이씨씨          kcc      184.0
1053     현대백화점     ehyundai    38035.0
1065       삼천리    samchully      521.0
1095    금호아시아나        kumho      183.0
1419       케이티           kt      905.0
1548        두산       doosan      391.0
1607        삼성      samsung      511.0
1650       넷마블    netmarble   360280.0
1802    아모레퍼시픽        amore      842.0
1957      동국제강      dongkuk      364.0
2041     한진중공업     hanjinsc  3101503.0
2516    대우조선해양     daewooch  1401102.0
2762        한진       hanjin      926.0
2823     한국타이어      hantire      912.0
3606     에쓰-오일         soil  1103307.0
5391        한라        halla      920.0
5496     메리츠금융       meritz  1402303.0
5646        한솔       hansol      924.0
5715    현대산업개발        hydvp    11017.0
5929     현대중공업          hhi  1901305.0
7505     케이티앤지         ktng    12079.0
8084        세아         seah      474.0
8367      셀트리온    celltrion  1803209.0
16040     한국지엠     gmdaewoo  2403803.0

In [70]:
dfGrpNmId = dfGrpNmId.merge(dfGrpNmIdPrev[['grpname2', 'grpname', 'grpcode']].drop_duplicates(), on='grpname2', how='left')
dfGrpNmId = dfGrpNmId.set_index('grpname2')
dfGrpNmId

              grpname    grpcode
grpname2
삼성            samsung      511.0
현대자동차         hymotor  1201801.0
에스케이               sk      535.0
엘지                 lg      282.0
롯데              lotte      283.0
한화             hanwha      913.0
지에스                gs  2703408.0
현대중공업             hhi  1901305.0
신세계         shinsegae      577.0
한진             hanjin      926.0
씨제이                cj      720.0
두산             doosan      391.0
부영           booyoung    16032.0
엘에스                ls  2402204.0
대림             daelim      321.0
미래에셋       miraeasset  2602105.0
현대백화점        ehyundai    38035.0
효성            hyosung      971.0
한국투자금융           kinv  2702504.0
영풍         youngpoong      632.0
하림              harim    24062.0
교보생명보험    kyobodirect      145.0
금호아시아나          kumho      183.0
코오롱             kolon      811.0
오씨아이             dych      378.0
카카오             kakao    36027.0
에이치디씨             NaN        NaN
케이씨씨              kcc      184.0
SM                 SM      192.0
중흥건설        jungheung      743.0
한국타이어         hantire      912.0
세아               seah      474.0
태광           taekwang      841.0
이랜드             eland      652.0
셀트리온        celltrion  1803209.0
DB                NaN        NaN
호반건설            hoban    26023.0
네이버             naver  1502101.0
태영           taeyoung      844.0
넥슨              nexon  1902205.0
동원            dongwon      381.0
한라              halla      920.0
아모레퍼시픽          amore      842.0
삼천리         samchully      521.0
동국제강          dongkuk      364.0
유진            eugenes      653.0
금호석유화학            kpc    11140.0
하이트진로            hite      732.0
넷마블         netmarble   360280.0
애경                NaN        NaN
다우키움              NaN        NaN

In [71]:
dfGrpNmId[dfGrpNmId['grpcode'].isna()]

         grpname  grpcode
grpname2
에이치디씨        NaN      NaN
DB           NaN      NaN
애경           NaN      NaN
다우키움         NaN      NaN

In [72]:
dfCharToInt = pd.read_excel('../data/utils/char-to-int.xlsx')

In [73]:
driver = webdriver.Chrome()
driver.implicitly_wait(3)

grsrch_url = 'https://www.kisline.com/cm/CM0100M00GE00.nice'
username = 'wonbok'
password = 'gkrtkrhk5034!'
driver.get(grsrch_url)
driver.find_element(By.CLASS_NAME, 'btn_close_layer').click()
driver.find_element(By.ID, 'lgnuid').send_keys(username)
driver.find_element(By.ID, 'tmp_lgnupassword').click()
driver.find_element(By.ID, 'lgnupassword').send_keys(password)
driver.find_element(By.CLASS_NAME, 'btn_log_in').click()
driver.implicitly_wait(3)
sleep(1)
driver.get('https://www.kisline.com/gr/GR0100M00GE00.nice')
inputElem = driver.find_element(By.ID, 'srchk')

for grpname2 in dfGrpNmId[dfGrpNmId['grpcode'].isna()].index:
    inputElem.send_keys(grpname2)
    driver.find_element(By.ID, 'slct').click()
    driver.implicitly_wait(3)
    try:
        target = driver.find_element(By.XPATH, '//*[@id="cont"]/div[4]/table/tbody/tr/td[1]/a')
        grpCode = target.get_attribute('data-gicd')
        
        for i in range(len(dfCharToInt)):
            grpCode = re.sub(fr'{dfCharToInt.iloc[i, 0]}', str(dfCharToInt.iloc[i, 1]), grpCode)
            
        dfGrpNmId.loc[grpname2, 'grpcode'] = int(grpCode)
        print(f"Found group code for {grpname2}: {grpCode}")
    
    except:
        print(f"No group found for {grpname2}. Move to next...")
        
    sleep(3)
    inputElem = driver.find_element(By.ID, 'srchk')
    inputElem.clear()
    
driver.find_element(By.LINK_TEXT, '로그아웃').click()
sleep(3)
driver.quit()

print(dfGrpNmId[dfGrpNmId['grpcode'].isna()])

Found group code for 에이치디씨: 1101907
Found group code for DB: 365
Found group code for 애경: 615
Found group code for 다우키움: 291
Empty DataFrame
Columns: [grpname, grpcode]
Index: []

In [75]:
for grpname2 in dfGrpNmId[dfGrpNmId['grpname'].isna()].index:
    dfGrpNmId.loc[grpname2, 'grpname'] = input(f"Please Enter English Group Name for {grpname2}:")

dfGrpNmId.to_excel(f'../data/grpSumry/groupNmId/groupNmId{year}Eng.xlsx')

Please Enter English Group Name for 에이치디씨:HDC
Please Enter English Group Name for DB:DB
Please Enter English Group Name for 애경:AK
Please Enter English Group Name for 다우키움:daou

# 2020

In [76]:
year = 2020

In [77]:
dfAppnGroupSttus = pd.read_excel(f'../data/grpSumry/appnGroupSttus/appnGroupSttus{year}.xlsx')
dfAppnGroupSttus = dfAppnGroupSttus[dfAppnGroupSttus['smerNm'].str.len() <= 3]
dfAppnGroupSttus = dfAppnGroupSttus.reset_index().drop(columns=['index'])
dfAppnGroupSttus.head()

,unityGrupNm,unityGrupCode,smerNm,repreCmpny,sumCmpnyCo,invstmntLmtt,entrprsCl
0,삼성,K1000032,이재용,삼성전자(주),59,상호출자제한집단,일반
1,현대자동차,K3000027,정몽구,현대자동차(주),54,상호출자제한집단,일반
2,에스케이,K1000050,최태원,에스케이(주),125,상호출자제한집단,일반
3,엘지,K1000051,구광모,(주)엘지,70,상호출자제한집단,일반
4,롯데,K1000027,신동빈,롯데지주(주),86,상호출자제한집단,일반

In [78]:
dfGrpNmIdPrev = pd.read_excel(f'../data/grpSumry/groupNmId/groupNmId{year-1}Eng.xlsx')
dfGrpNmIdPrev.head()

  grpname2  grpname  grpcode
0       삼성  samsung      511
1    현대자동차  hymotor  1201801
2     에스케이       sk      535
3       엘지       lg      282
4       롯데    lotte      283

In [79]:
dfGrpNmId = pd.DataFrame()
dfGrpNmId['grpname2'] = dfAppnGroupSttus['unityGrupNm']

In [80]:
dfGrpNmId = dfGrpNmId.merge(dfGrpNmIdPrev[['grpname2', 'grpname', 'grpcode']], on='grpname2', how='left')
dfGrpNmId = dfGrpNmId.set_index('grpname2')
dfGrpNmId

               grpname    grpcode
grpname2
삼성             samsung      511.0
현대자동차          hymotor  1201801.0
에스케이                sk      535.0
엘지                  lg      282.0
롯데               lotte      283.0
한화              hanwha      913.0
지에스                 gs  2703408.0
현대중공업              hhi  1901305.0
신세계          shinsegae      577.0
씨제이                 cj      720.0
한진              hanjin      926.0
두산              doosan      391.0
엘에스                 ls  2402204.0
부영            booyoung    16032.0
대림              daelim      321.0
미래에셋        miraeasset  2602105.0
금호아시아나           kumho      183.0
현대백화점         ehyundai    38035.0
카카오              kakao    36027.0
한국투자금융            kinv  2702504.0
교보생명보험     kyobodirect      145.0
효성             hyosung      971.0
하림               harim    24062.0
영풍          youngpoong      632.0
에이치디씨              HDC  1101907.0
케이씨씨               kcc      184.0
코오롱              kolon      811.0
오씨아이              dych      378.0
이랜드              eland      652.0
태영            taeyoung      844.0
SM                  SM      192.0
DB                  DB      365.0
세아                seah      474.0
네이버              naver  1502101.0
넥슨               nexon  1902205.0
한국타이어          hantire      912.0
호반건설             hoban    26023.0
셀트리온         celltrion  1803209.0
중흥건설         jungheung      743.0
넷마블          netmarble   360280.0
아모레퍼시픽           amore      842.0
태광            taekwang      841.0
동원             dongwon      381.0
한라               halla      920.0
삼천리          samchully      521.0
장금상선               NaN        NaN
IMM인베스트먼트          NaN        NaN
동국제강           dongkuk      364.0
다우키움              daou      291.0
금호석유화학             kpc    11140.0
애경                  AK      615.0
하이트진로             hite      732.0
유진             eugenes      653.0
KG                 NaN        NaN
삼양                 NaN        NaN

In [81]:
dfCharToInt = pd.read_excel('../data/utils/char-to-int.xlsx')

In [82]:
driver = webdriver.Chrome()
driver.implicitly_wait(3)

grsrch_url = 'https://www.kisline.com/cm/CM0100M00GE00.nice'
username = 'wonbok'
password = 'gkrtkrhk5034!'
driver.get(grsrch_url)
driver.find_element(By.CLASS_NAME, 'btn_close_layer').click()
driver.find_element(By.ID, 'lgnuid').send_keys(username)
driver.find_element(By.ID, 'tmp_lgnupassword').click()
driver.find_element(By.ID, 'lgnupassword').send_keys(password)
driver.find_element(By.CLASS_NAME, 'btn_log_in').click()
driver.implicitly_wait(3)
sleep(1)
driver.get('https://www.kisline.com/gr/GR0100M00GE00.nice')
inputElem = driver.find_element(By.ID, 'srchk')

for grpname2 in dfGrpNmId[dfGrpNmId['grpcode'].isna()].index:
    inputElem.send_keys(grpname2)
    driver.find_element(By.ID, 'slct').click()
    driver.implicitly_wait(3)
    try:
        target = driver.find_element(By.XPATH, '//*[@id="cont"]/div[4]/table/tbody/tr/td[1]/a')
        grpCode = target.get_attribute('data-gicd')

        for i in range(len(dfCharToInt)):
            grpCode = re.sub(fr'{dfCharToInt.iloc[i, 0]}', str(dfCharToInt.iloc[i, 1]), grpCode)

        dfGrpNmId.loc[grpname2, 'grpcode'] = int(grpCode)
        print(f"Found group code for {grpname2}: {grpCode}")

    except:
        print(f"No group found for {grpname2}. Move to next...")

    sleep(3)
    inputElem = driver.find_element(By.ID, 'srchk')
    inputElem.clear()

driver.find_element(By.LINK_TEXT, '로그아웃').click()
sleep(3)
driver.quit()

print(dfGrpNmId[dfGrpNmId['grpcode'].isna()])

Found group code for 장금상선: 2102509
Found group code for IMM인베스트먼트: 1210330
Found group code for KG: 114
Found group code for 삼양: 512
Empty DataFrame
Columns: [grpname, grpcode]
Index: []

In [83]:
for grpname2 in dfGrpNmId[dfGrpNmId['grpname'].isna()].index:
    dfGrpNmId.loc[grpname2, 'grpname'] = input(f"Please Enter English Group Name for {grpname2}:")

dfGrpNmId.to_excel(f'../data/grpSumry/groupNmId/groupNmId{year}Eng.xlsx')

Please Enter English Group Name for 장금상선:sinokor
Please Enter English Group Name for IMM인베스트먼트:IMM
Please Enter English Group Name for KG:KG
Please Enter English Group Name for 삼양:samyang

# 2021

In [84]:
import sys
sys.path.append('../scripts')

import api

In [86]:
apiKey = "7946dcde119af7656afc01157071c0ab9488b9ad"
myApi = api.Api(apiKey)
myApi.scrapeChaebolCode(2021, 'wonbok', 'gkrtkrhk5034!')

Found group code for DL: 321
Found group code for 반도홀딩스: 22061
Found group code for 대방건설: 10150
Found group code for 현대해상화재보험: 1402703
Found group code for 엠디엠: 3801304
Found group code for 아이에스지주: 3501209
Found group code for 중앙: 36006
Could not find grpcodes for groups below:
Index([], dtype='object', name='grpname2')
Please Enter English Group Name for DL:DL
Please Enter English Group Name for 반도홀딩스:bando
Please Enter English Group Name for 대방건설:dbcons
Please Enter English Group Name for 현대해상화재보험:HI
Please Enter English Group Name for 엠디엠:MDM
Please Enter English Group Name for 아이에스지주:IS
Please Enter English Group Name for 중앙:joongang

               grpname    grpcode
grpname2
삼성             samsung      511.0
현대자동차          hymotor  1201801.0
에스케이                sk      535.0
엘지                  lg      282.0
롯데               lotte      283.0
한화              hanwha      913.0
지에스                 gs  2703408.0
현대중공업              hhi  1901305.0
신세계          shinsegae      577.0
씨제이                 cj      720.0
한진              hanjin      926.0
두산              doosan      391.0
엘에스                 ls  2402204.0
부영            booyoung    16032.0
카카오              kakao    36027.0
DL                  DL      321.0
미래에셋        miraeasset  2602105.0
현대백화점         ehyundai    38035.0
금호아시아나           kumho      183.0
셀트리온         celltrion  1803209.0
한국투자금융            kinv  2702504.0
교보생명보험     kyobodirect      145.0
네이버              naver  1502101.0
에이치디씨              HDC  1101907.0
효성             hyosung      971.0
영풍          youngpoong      632.0
하림               harim    24062.0
케이씨씨               kcc      184.0
넥슨               nexon  1902205.0
넷마블          netmarble   360280.0
호반건설             hoban    26023.0
SM                  SM      192.0
DB                  DB      365.0
코오롱              kolon      811.0
한국타이어          hantire      912.0
오씨아이              dych      378.0
태영            taeyoung      844.0
이랜드              eland      652.0
세아                seah      474.0
중흥건설         jungheung      743.0
태광            taekwang      841.0
동원             dongwon      381.0
한라               halla      920.0
아모레퍼시픽           amore      842.0
IMM인베스트먼트          IMM  1210330.0
삼천리          samchully      521.0
금호석유화학             kpc    11140.0
다우키움              daou      291.0
장금상선           sinokor  2102509.0
동국제강           dongkuk      364.0
애경                  AK      615.0
반도홀딩스            bando    22061.0
유진             eugenes      653.0
하이트진로             hite      732.0
삼양             samyang      512.0
대방건설            dbcons    10150.0
현대해상화재보험            HI  1402703.0
엠디엠                MDM  3801304.0
아이에스지주              IS  3501209.0
중앙            joongang    36006.0