In [83]:
from selenium import webdriver
from selenium.webdriver.support.ui import Select
import chromedriver_autoinstaller
import pandas as pd
from time import sleep
import os

In [3]:
chromedriver_autoinstaller.install(path="../utils/")

'/Users/choidamian/Chaebol/utils/101/chromedriver'

# 2019

In [5]:
year = 2019

In [4]:
driver = webdriver.Chrome()
driver.implicitly_wait(3)
grsrch_url = 'https://www.kisline.com/cm/CM0100M00GE00.nice'
username = 'wonbok'
password = 'gkrtkrhk5034!'
driver.get(grsrch_url)
driver.find_element_by_class_name('btn_close_layer').click()
driver.find_element_by_id('lgnuid').send_keys(username)
driver.find_element_by_id('tmp_lgnupassword').click()
driver.find_element_by_id('lgnupassword').send_keys(password)
driver.find_element_by_class_name('btn_log_in').click()
sleep(3)
driver.find_element_by_link_text('로그아웃').click()
driver.quit()

In [6]:
df = pd.read_excel(f'../data/cmpnySumry/cmpnySumry{year}Eng.xlsx')

In [7]:
df.head()

,publicYm,fisclYr,unityGrupNm,entrprsNm,rprsntvNm,fondDe,grinil,indutyCode,indutyNm,ordtmEmplyCo,...,entrprsOthbcDe,assetsTotamt,debtTotamt,caplTotamt,caplAmount,selngAmount,thstrmNtpfAmount,reconstrctur,jurirno,year2
0,201905,2018,DB,디비생명보험(주),이태운,1989/04/14,1997/01/03,K65,보험 및 연금업,563,...,NaN,"10,887,144","10,296,289","590,855","193,331","2,180,825","24,637",금융보험업,1101110623606,2019
1,201905,2018,DB,디비금융서비스(주),황원기,2014/01/13,2014/03/01,K66,금융 및 보험관련 서비스업,30,...,NaN,"6,057","2,460","3,597","14,001","13,311","-2,499",금융보험업,1101115314474,2019
2,201905,2018,DB,디비에프아이에스(주),강운식,2014/12/01,2018/06/01,J62,"컴퓨터 프로그래밍, 시스템 통합 및 관리업",217,...,NaN,"47,579","5,854","41,725","1,000","47,269","12,063",일반회사,1101115576727,2019
3,201905,2018,DB,디비금융투자(주),고원종,1982/12/20,1982/12/20,K66,금융 및 보험관련 서비스업,892,...,1988/06/27,"5,428,689","4,794,353","634,336","212,232","725,156","46,854",금융보험업,1101110339956,2019
4,201905,2018,DB,디비인베스트(주),최경진,2009/11/16,2010/01/04,M71,전문 서비스업,1,...,NaN,"14,912","17,943","-3,031","306,500",933,-267,일반회사,1101114220359,2019

In [16]:
df_1 = pd.read_excel(f'../data/cmpnySumry/cmpnySumry{year+1}Eng.xlsx')
df_1[['jurirno', 'rcmgCode']]

            jurirno      rcmgCode
0     1345140003989  1.802408e+09
1     1345140003989  1.802408e+09
2     1101140192605  1.803409e+09
3     1754140000582  2.102105e+09
4     1760140002014  2.102105e+09
...             ...           ...
2279  1101110018443  8.701530e+05
2280  1101111758600  1.159730e+05
2281  1101112105561  1.788720e+05
2282  1101110016728  8.700720e+05
2283  1101117291597  2.103504e+09

[2284 rows x 2 columns]

In [19]:
df = df.merge(df_1[['jurirno', 'rcmgCode']], on='jurirno', how='left')

In [21]:
dfTrgt = df[df['rcmgCode'].isna()]
dfTrgt

,publicYm,fisclYr,unityGrupNm,entrprsNm,rprsntvNm,fondDe,grinil,indutyCode,indutyNm,ordtmEmplyCo,...,assetsTotamt,debtTotamt,caplTotamt,caplAmount,selngAmount,thstrmNtpfAmount,reconstrctur,jurirno,year2,rcmgCode
21,201905,2018,SM,(주)케이엘홀딩스이호,박도순,2013/09/12,2013/09/12,M73,"기타 전문, 과학 및 기술 서비스업",0,...,"123,266","62,713","60,553","18,560","14,191","9,224",일반회사,2001110378632,2019,NaN
23,201905,2018,SM,(주)동강시스타,김성원,2006/05/15,2019/04/01,I55,숙박업,111,...,"72,699","34,974","37,725","10,322","9,730","3,767",회생절차,1414110005851,2019,NaN
28,201905,2018,SM,회현상사(주),유창훈,1978/06/30,2018/07/01,L68,부동산업,0,...,"1,007",NaN,"1,007",500,NaN,17,일반회사,1101110231920,2019,NaN
31,201905,2018,SM,(주)에이본,한진아,2017/02/07,2017/02/07,G47,소매업; 자동차 제외,5,...,413,225,188,2,"12,204",184,일반회사,2850110346028,2019,NaN
35,201905,2018,SM,(주)에스엠티케미칼,박도순,2008/03/19,2008/03/19,G46,도매 및 상품 중개업,0,...,"103,473","55,128","48,345","23,539","8,460","5,417",일반회사,1701110351776,2019,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2081,201905,2018,효성,오원물산(주),허수창,1970/12/01,NaN,L68,부동산업,4,...,"28,575","26,628","1,947",600,"3,322",266,일반회사,1101110008478,2019,NaN
2083,201905,2018,효성,그랜드제칠차(주),정성훈,2013/07/04,2018/04/01,K64,금융업,0,...,"57,100","85,697","-28,597",0,0,"2,857",금융보험업,1101115175024,2019,NaN
2084,201905,2018,효성,오원엠앤아이(주),허수창,1995/01/01,NaN,L68,부동산업,24,...,"19,100","12,867","6,233","4,340","2,018",104,일반회사,1152110014923,2019,NaN
2085,201905,2018,효성,그랜드제육차(주),정성훈,2013/07/04,2018/04/01,K64,금융업,0,...,"15,285","22,002","-6,718",0,0,"1,113",금융보험업,1101115175173,2019,NaN
2097,201905,2018,효성,아이티엑스마케팅(주),전병무,2011/10/31,2012/01/02,K66,금융 및 보험관련 서비스업,14,...,"9,217","3,393","5,824","1,600","11,947",39,금융보험업,1101114718750,2019,NaN

In [35]:
len(dKiscode)

23

In [36]:
driver = webdriver.Chrome()
driver.implicitly_wait(3)

grsrch_url = 'https://www.kisline.com/cm/CM0100M00GE00.nice'
username = 'wonbok'
password = 'gkrtkrhk5034!'
driver.get(grsrch_url)
driver.find_element_by_class_name('btn_close_layer').click()
driver.find_element_by_id('lgnuid').send_keys(username)
driver.find_element_by_id('tmp_lgnupassword').click()
driver.find_element_by_id('lgnupassword').send_keys(password)
driver.find_element_by_class_name('btn_log_in').click()
driver.implicitly_wait(3)
sleep(1)

# dKiscode = dict()
inputElem = driver.find_element_by_id('q')

for jurirno in dfTrgt['jurirno'][22:]:

    inputElem.send_keys(jurirno)
    driver.find_element_by_id('searchView').click()
    driver.implicitly_wait(3)
    try:
        target_row = driver.find_element_by_xpath('//*[@id="eprTable"]/tbody/tr/td[2]')
        kiscode = target_row.get_attribute('data-kiscode')
        dKiscode[jurirno] = kiscode
        print(f"Found kiscode for {jurirno}: {kiscode}")
    except:
        print(f"No company found for {jurirno}. Continuing...")
    sleep(3)
    inputElem = driver.find_element_by_id('q')
    inputElem.clear()

sleep(3)
driver.find_element_by_link_text('로그아웃').click()
sleep(1)
driver.quit()

Found kiscode for 1101116508886: IT9339
23
No company found for 1101116389757. Continuing...
No company found for 1101140114740. Continuing...
Found kiscode for 1101115453652: L92171
24
No company found for 1101140179778. Continuing...
Found kiscode for 1101115054583: I91097
25
Found kiscode for 1345140004721: HW0115
26
Found kiscode for 1311110323475: E78572
27
Found kiscode for 1101114710574: E95901
28
Found kiscode for 1101114734706: E94709
29
Found kiscode for 1101113087867: F42968
30
Found kiscode for 1201110671504: J86606
31
Found kiscode for 1341110145371: C99381
32
Found kiscode for 1101113181289: 783823
33
Found kiscode for 1101140224490: JD3576
34
Found kiscode for 2201110138785: HL7972
35
Found kiscode for 1760110077261: E52455
36
Found kiscode for 1101111833105: 226296
37
Found kiscode for 1101114945999: E87551
38
Found kiscode for 1101114469238: H29829
39
Found kiscode for 1101114534073: H41186
40
Found kiscode for 1101113190884: 209701
41
Found kiscode for 1801110825349: J05429
42
Found kiscode for 1101130013241: C43316
43
Found kiscode for 1101110014459: 870218
44
Found kiscode for 1311110141140: 485540
45
Found kiscode for 1311110241776: F13559
46
Found kiscode for 1101114220789: C46314
47
Found kiscode for 1101110628078: 099090
48
Found kiscode for 1101113573767: 495224
49
Found kiscode for 1101115290814: L29151
50
Found kiscode for 2062110057775: HM9946
51
Found kiscode for 1801110433275: 221423
52
Found kiscode for 1101110641434: 041132
53
Found kiscode for 1801110335570: 162834
54
Found kiscode for 1101110708383: 613878
55
Found kiscode for 1501110115621: H34879
56
Found kiscode for 2001110292858: F12959
57
Found kiscode for 1101113837501: C06921
58
Found kiscode for 1101140150728: M14721
59
Found kiscode for 1101130018598: CD1625
60
Found kiscode for 1101116137734: HS7136
61
Found kiscode for 1101130018291: M12729
62
Found kiscode for 1346110080048: HT0897
63
Found kiscode for 1101113613315: F26572
64
Found kiscode for 1101114940171: I67169
65
Found kiscode for 1101112708795: 219309
66
Found kiscode for 2811110082856: 491466
67
Found kiscode for 1101112117029: 176146
68
Found kiscode for 1101113837501: C06921
68
Found kiscode for 1101116648062: IZ0286
69
Found kiscode for 1101113737462: F68657
70
Found kiscode for 1101115713816: HC9763
71
Found kiscode for 1545110024599: 216929
72
Found kiscode for 1449110006260: 794215
73
Found kiscode for 1101113398149: 673755
74
Found kiscode for 1101117018165: JM0435
75
Found kiscode for 1101116257954: IL6788
76
Found kiscode for 1314110232597: F00148
77
Found kiscode for 1101112385585: 198075
78
Found kiscode for 1357110092181: I70576
79
Found kiscode for 1101117005667: JL5316
80
Found kiscode for 2301110212074: J90077
81
Found kiscode for 1101117018397: JM0414
82
Found kiscode for 1801111041241: HR4462
83
Found kiscode for 1760110124822: JF5066
84
Found kiscode for 1101111030082: 031686
85
Found kiscode for 1411110011979: 228104
86
Found kiscode for 1101111799703: 195756
87
Found kiscode for 1101116590007: IW8754
88
Found kiscode for 1101114777201: H80067
89
Found kiscode for 1101116944022: JJ3631
90
Found kiscode for 1101114922070: I66464
91
Found kiscode for 1101112654493: 215865
92
Found kiscode for 2059110016611: G57467
93
Found kiscode for 1101140235067: JJ7370
94
Found kiscode for 1101116614162: IX7444
95
Found kiscode for 2149110029879: C73619
96
Found kiscode for 1101130020949: IP8194
97
Found kiscode for 1101110107105: 990086
98
Found kiscode for 1345110313467: IN1830
99
Found kiscode for 1101140178613: HP1992
100
Found kiscode for 1101116394566: IQ0767
101
Found kiscode for 1101130019679: HO9614
102
Found kiscode for 1101111982473: 136297
103
Found kiscode for 1101115952761: HQ0341
104
Found kiscode for 1313110190250: IW9327
105
Found kiscode for 1101130023323: JG6531
106
Found kiscode for 1313110135157: L60776
107
Found kiscode for 2241110030218: HI8580
108
Found kiscode for 1101117059648: JN3204
109
Found kiscode for 1101112718570: 446434
110
Found kiscode for 2001110340988: I01766
111
Found kiscode for 2001110420730: CD5160
112
Found kiscode for 2001110336010: J59333
113
Found kiscode for 2001110347984: J59407
114
Found kiscode for 2001110429245: HD5272
115
Found kiscode for 1101112089062: 166232
116
Found kiscode for 1311110469360: IM3837
117
Found kiscode for 1101116064573: HQ3173
118
Found kiscode for 1101116183860: HU2583
119
Found kiscode for 1101114717075: E95574
120
Found kiscode for 1349110067743: HG0364
121
Found kiscode for 1101116904175: JH8790
122
Found kiscode for 1101115799535: HH8780
123
Found kiscode for 1101115560051: M31929
124
Found kiscode for 1101116020278: HO9090
125
Found kiscode for 1311110095280: H31638
126
Found kiscode for 1101116328333: IN9658
127
Found kiscode for 1615110142798: J54774
128
Found kiscode for 1101116993483: JL1666
129
Found kiscode for 1101114519629: H31281
130
Found kiscode for 1341110429121: HL9783
131
Found kiscode for 1201110711061: L83771
132
Found kiscode for 1201110734518: M34665
133
Found kiscode for 1801111034105: HQ1817
134
Found kiscode for 1954110024089: J27703
135
Found kiscode for 1311110031292: 946958
136
Found kiscode for 1101112336934: 090181
137
Found kiscode for 2101110013343: 165267
138
Found kiscode for 1101111019292: 028279
139
Found kiscode for 1701110556607: CD3542
140
Found kiscode for 1101113880849: C44788
141
Found kiscode for 1346110042204: C97554
142
Found kiscode for 1642110019172: G01362
143
Found kiscode for 2149110011834: 178743
144
Found kiscode for 2149110041485: L07263
145
Found kiscode for 1101114038447: F13153
146
Found kiscode for 1101114215657: F13154
147
Found kiscode for 1101115776509: HH0361
148
Found kiscode for 1101140204179: IQ7006
149
Found kiscode for 1101140225563: JE0297
150
Found kiscode for 1101140221412: JB5883
151
Found kiscode for 1101130016659: J47977
152
Found kiscode for 1201110142521: 126507
153
Found kiscode for 1101111269102: 136956
154
Found kiscode for 1101110407604: 691992
155
Found kiscode for 1101114990241: E85681
156
Found kiscode for 1101113464073: 390659
157
Found kiscode for 1501110211627: HK6561
158
Found kiscode for 1643110015954: J92349
159
Found kiscode for 1101116390530: IP8907
160
Found kiscode for 1101111912909: 136801
161
Found kiscode for 1101116912079: JI2332
162
Found kiscode for 1101114899542: I15296
163
Found kiscode for 1101116247690: IB2157
164
Found kiscode for 1101111357717: 110505
165
Found kiscode for 2301110253937: HN5130
166
Found kiscode for 1101110563480: 187151
167
Found kiscode for 2301110201241: I79121
168
Found kiscode for 2301110143443: C15428
169
Found kiscode for 1101113259036: 380471
170
Found kiscode for 1101115278662: L25168
171
No company found for 1101115132420. Continuing...
No company found for 1101115516286. Continuing...
Found kiscode for 1101110008478: 171395
172
No company found for 1101115175024. Continuing...
Found kiscode for 1152110014923: 056905
173
No company found for 1101115175173. Continuing...
Found kiscode for 1101114718750: H79412
174

In [37]:
len(dKiscode)

174

In [40]:
dKiscode2 = dict()
for i, k in enumerate(dKiscode.keys()):
    dKiscode2[i] = [k, dKiscode[k]]
dKiscode2

{0: [2001110378632, 'J94114'],
 1: [1414110005851, '489407'],
 2: [1101110231920, '901547'],
 3: [2850110346028, 'IN3554'],
 4: [1701110351776, 'C71526'],
 5: [1545110012867, '287438'],
 6: [2001110295761, 'F13637'],
 7: [1101112937203, 'C58771'],
 8: [1101111578032, '489690'],
 9: [1701110390766, 'F00718'],
 10: [1311110001774, '353205'],
 11: [1101111101817, '024530'],
 12: [2811110114732, 'T33701'],
 13: [1311110157014, 'C03079'],
 14: [1101113937070, 'C97516'],
 15: [1101110117774, '150150'],
 16: [2001110013220, '775525'],
 17: [1348110272758, 'J33091'],
 18: [1101130015263, 'H20961'],
 19: [2845110015319, 'L07239'],
 20: [1101112770661, '449909'],
 21: [1101113783762, 'F70942'],
 22: [1101116508886, 'IT9339'],
 23: [1101115453652, 'L92171'],
 24: [1101115054583, 'I91097'],
 25: [1345140004721, 'HW0115'],
 26: [1311110323475, 'E78572'],
 27: [1101114710574, 'E95901'],
 28: [1101114734706, 'E94709'],
 29: [1101113087867, 'F42968'],
 30: [1201110671504, 'J86606'],
 31: [1341110145371, 'C99381'],
 32: [1101113181289, '783823'],
 33: [1101140224490, 'JD3576'],
 34: [2201110138785, 'HL7972'],
 35: [1760110077261, 'E52455'],
 36: [1101111833105, '226296'],
 37: [1101114945999, 'E87551'],
 38: [1101114469238, 'H29829'],
 39: [1101114534073, 'H41186'],
 40: [1101113190884, '209701'],
 41: [1801110825349, 'J05429'],
 42: [1101130013241, 'C43316'],
 43: [1101110014459, '870218'],
 44: [1311110141140, '485540'],
 45: [1311110241776, 'F13559'],
 46: [1101114220789, 'C46314'],
 47: [1101110628078, '099090'],
 48: [1101113573767, '495224'],
 49: [1101115290814, 'L29151'],
 50: [2062110057775, 'HM9946'],
 51: [1801110433275, '221423'],
 52: [1101110641434, '041132'],
 53: [1801110335570, '162834'],
 54: [1101110708383, '613878'],
 55: [1501110115621, 'H34879'],
 56: [2001110292858, 'F12959'],
 57: [1101113837501, 'C06921'],
 58: [1101140150728, 'M14721'],
 59: [1101130018598, 'CD1625'],
 60: [1101116137734, 'HS7136'],
 61: [1101130018291, 'M12729'],
 62: [1346110080048, 'HT0897'],
 63: [1101113613315, 'F26572'],
 64: [1101114940171, 'I67169'],
 65: [1101112708795, '219309'],
 66: [2811110082856, '491466'],
 67: [1101112117029, '176146'],
 68: [1101116648062, 'IZ0286'],
 69: [1101113737462, 'F68657'],
 70: [1101115713816, 'HC9763'],
 71: [1545110024599, '216929'],
 72: [1449110006260, '794215'],
 73: [1101113398149, '673755'],
 74: [1101117018165, 'JM0435'],
 75: [1101116257954, 'IL6788'],
 76: [1314110232597, 'F00148'],
 77: [1101112385585, '198075'],
 78: [1357110092181, 'I70576'],
 79: [1101117005667, 'JL5316'],
 80: [2301110212074, 'J90077'],
 81: [1101117018397, 'JM0414'],
 82: [1801111041241, 'HR4462'],
 83: [1760110124822, 'JF5066'],
 84: [1101111030082, '031686'],
 85: [1411110011979, '228104'],
 86: [1101111799703, '195756'],
 87: [1101116590007, 'IW8754'],
 88: [1101114777201, 'H80067'],
 89: [1101116944022, 'JJ3631'],
 90: [1101114922070, 'I66464'],
 91: [1101112654493, '215865'],
 92: [2059110016611, 'G57467'],
 93: [1101140235067, 'JJ7370'],
 94: [1101116614162, 'IX7444'],
 95: [2149110029879, 'C73619'],
 96: [1101130020949, 'IP8194'],
 97: [1101110107105, '990086'],
 98: [1345110313467, 'IN1830'],
 99: [1101140178613, 'HP1992'],
 100: [1101116394566, 'IQ0767'],
 101: [1101130019679, 'HO9614'],
 102: [1101111982473, '136297'],
 103: [1101115952761, 'HQ0341'],
 104: [1313110190250, 'IW9327'],
 105: [1101130023323, 'JG6531'],
 106: [1313110135157, 'L60776'],
 107: [2241110030218, 'HI8580'],
 108: [1101117059648, 'JN3204'],
 109: [1101112718570, '446434'],
 110: [2001110340988, 'I01766'],
 111: [2001110420730, 'CD5160'],
 112: [2001110336010, 'J59333'],
 113: [2001110347984, 'J59407'],
 114: [2001110429245, 'HD5272'],
 115: [1101112089062, '166232'],
 116: [1311110469360, 'IM3837'],
 117: [1101116064573, 'HQ3173'],
 118: [1101116183860, 'HU2583'],
 119: [1101114717075, 'E95574'],
 120: [1349110067743, 'HG0364'],
 121: [1101116904175, 'JH8790'],
 122: [1101115799535, 'HH8780'],
 123: [1101115560051, 'M31929'],
 124: [1101116020278, 'HO9090'],
 125: [1311110095280, 'H31638'],
 126: [1101116328333, 'IN9658'],
 127: [1615110142798, 'J54774'],
 128: [1101116993483, 'JL1666'],
 129: [1101114519629, 'H31281'],
 130: [1341110429121, 'HL9783'],
 131: [1201110711061, 'L83771'],
 132: [1201110734518, 'M34665'],
 133: [1801111034105, 'HQ1817'],
 134: [1954110024089, 'J27703'],
 135: [1311110031292, '946958'],
 136: [1101112336934, '090181'],
 137: [2101110013343, '165267'],
 138: [1101111019292, '028279'],
 139: [1701110556607, 'CD3542'],
 140: [1101113880849, 'C44788'],
 141: [1346110042204, 'C97554'],
 142: [1642110019172, 'G01362'],
 143: [2149110011834, '178743'],
 144: [2149110041485, 'L07263'],
 145: [1101114038447, 'F13153'],
 146: [1101114215657, 'F13154'],
 147: [1101115776509, 'HH0361'],
 148: [1101140204179, 'IQ7006'],
 149: [1101140225563, 'JE0297'],
 150: [1101140221412, 'JB5883'],
 151: [1101130016659, 'J47977'],
 152: [1201110142521, '126507'],
 153: [1101111269102, '136956'],
 154: [1101110407604, '691992'],
 155: [1101114990241, 'E85681'],
 156: [1101113464073, '390659'],
 157: [1501110211627, 'HK6561'],
 158: [1643110015954, 'J92349'],
 159: [1101116390530, 'IP8907'],
 160: [1101111912909, '136801'],
 161: [1101116912079, 'JI2332'],
 162: [1101114899542, 'I15296'],
 163: [1101116247690, 'IB2157'],
 164: [1101111357717, '110505'],
 165: [2301110253937, 'HN5130'],
 166: [1101110563480, '187151'],
 167: [2301110201241, 'I79121'],
 168: [2301110143443, 'C15428'],
 169: [1101113259036, '380471'],
 170: [1101115278662, 'L25168'],
 171: [1101110008478, '171395'],
 172: [1152110014923, '056905'],
 173: [1101114718750, 'H79412']}

In [51]:
dfKiscode = pd.DataFrame.from_dict(dKiscode2, orient='index')
dfKiscode.columns = ['jurirno', 'kiscode']
dfKiscode

           jurirno kiscode
0    2001110378632  J94114
1    1414110005851  489407
2    1101110231920  901547
3    2850110346028  IN3554
4    1701110351776  C71526
..             ...     ...
169  1101113259036  380471
170  1101115278662  L25168
171  1101110008478  171395
172  1152110014923  056905
173  1101114718750  H79412

[174 rows x 2 columns]

In [44]:
dfCharToInt = pd.read_excel('../data/utils/char-to-int.xlsx')
dfCharToInt

   char  int
0     A  110
1     B  120
2     C  130
3     D  140
4     E  150
5     F  160
6     G  170
7     H  180
8     I  190
9     J  210
10    K  220
11    L  230
12    M  240
13    N  250
14    O  260
15    P  270
16    Q  280
17    R  290
18    S  310
19    T  320
20    U  330
21    V  340
22    W  350
23    X  360
24    Y  370
25    Z  380

In [50]:
len(dfCharToInt)

26

In [57]:
dfKiscode['rcmgCode'] = dfKiscode['kiscode']
for i in range(len(dfCharToInt)):
    dfKiscode['rcmgCode'] = dfKiscode['rcmgCode'].replace(dfCharToInt.iloc[i, 0], str(dfCharToInt.iloc[i, 1]), regex=True)

In [60]:
dfKiscode

           jurirno kiscode    rcmgCode
0    2001110378632  J94114    21094114
1    1414110005851  489407      489407
2    1101110231920  901547      901547
3    2850110346028  IN3554  1902503554
4    1701110351776  C71526    13071526
..             ...     ...         ...
169  1101113259036  380471      380471
170  1101115278662  L25168    23025168
171  1101110008478  171395      171395
172  1152110014923  056905      056905
173  1101114718750  H79412    18079412

[174 rows x 3 columns]

In [63]:
df.columns

Index(['publicYm', 'fisclYr', 'unityGrupNm', 'entrprsNm', 'rprsntvNm',
       'fondDe', 'grinil', 'indutyCode', 'indutyNm', 'ordtmEmplyCo',
       'stacntDudt', 'beforeBsnsStacntDe', 'entrprsOthbcDe', 'assetsTotamt',
       'debtTotamt', 'caplTotamt', 'caplAmount', 'selngAmount',
       'thstrmNtpfAmount', 'reconstrctur', 'jurirno', 'year2', 'rcmgCode'],
      dtype='object')

In [65]:
dfTrgt.columns

Index(['publicYm', 'fisclYr', 'unityGrupNm', 'entrprsNm', 'rprsntvNm',
       'fondDe', 'grinil', 'indutyCode', 'indutyNm', 'ordtmEmplyCo',
       'stacntDudt', 'beforeBsnsStacntDe', 'entrprsOthbcDe', 'assetsTotamt',
       'debtTotamt', 'caplTotamt', 'caplAmount', 'selngAmount',
       'thstrmNtpfAmount', 'reconstrctur', 'jurirno', 'year2', 'rcmgCode'],
      dtype='object')

In [67]:
dfTrgtRcmg = dfTrgt.merge(dfKiscode[['jurirno', 'rcmgCode']], on='jurirno', how='left')
dfTrgtRcmg.drop(columns=['rcmgCode_x'], inplace=True)
dfTrgtRcmg.columns = dfTrgt.columns
dfTrgtRcmg

,publicYm,fisclYr,unityGrupNm,entrprsNm,rprsntvNm,fondDe,grinil,indutyCode,indutyNm,ordtmEmplyCo,...,assetsTotamt,debtTotamt,caplTotamt,caplAmount,selngAmount,thstrmNtpfAmount,reconstrctur,jurirno,year2,rcmgCode
0,201905,2018,SM,(주)케이엘홀딩스이호,박도순,2013/09/12,2013/09/12,M73,"기타 전문, 과학 및 기술 서비스업",0,...,"123,266","62,713","60,553","18,560","14,191","9,224",일반회사,2001110378632,2019,21094114
1,201905,2018,SM,(주)동강시스타,김성원,2006/05/15,2019/04/01,I55,숙박업,111,...,"72,699","34,974","37,725","10,322","9,730","3,767",회생절차,1414110005851,2019,489407
2,201905,2018,SM,회현상사(주),유창훈,1978/06/30,2018/07/01,L68,부동산업,0,...,"1,007",NaN,"1,007",500,NaN,17,일반회사,1101110231920,2019,901547
3,201905,2018,SM,(주)에이본,한진아,2017/02/07,2017/02/07,G47,소매업; 자동차 제외,5,...,413,225,188,2,"12,204",184,일반회사,2850110346028,2019,1902503554
4,201905,2018,SM,(주)에스엠티케미칼,박도순,2008/03/19,2008/03/19,G46,도매 및 상품 중개업,0,...,"103,473","55,128","48,345","23,539","8,460","5,417",일반회사,1701110351776,2019,13071526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,201905,2018,효성,오원물산(주),허수창,1970/12/01,NaN,L68,부동산업,4,...,"28,575","26,628","1,947",600,"3,322",266,일반회사,1101110008478,2019,171395
178,201905,2018,효성,그랜드제칠차(주),정성훈,2013/07/04,2018/04/01,K64,금융업,0,...,"57,100","85,697","-28,597",0,0,"2,857",금융보험업,1101115175024,2019,NaN
179,201905,2018,효성,오원엠앤아이(주),허수창,1995/01/01,NaN,L68,부동산업,24,...,"19,100","12,867","6,233","4,340","2,018",104,일반회사,1152110014923,2019,056905
180,201905,2018,효성,그랜드제육차(주),정성훈,2013/07/04,2018/04/01,K64,금융업,0,...,"15,285","22,002","-6,718",0,0,"1,113",금융보험업,1101115175173,2019,NaN
181,201905,2018,효성,아이티엑스마케팅(주),전병무,2011/10/31,2012/01/02,K66,금융 및 보험관련 서비스업,14,...,"9,217","3,393","5,824","1,600","11,947",39,금융보험업,1101114718750,2019,18079412

In [71]:
dfLhs = df[~df['rcmgCode'].isna()]
dfMrgd = pd.concat([dfLhs, dfTrgtRcmg], axis=0)
print(len(dfMrgd.columns))
dfMrgd.reset_index(inplace=True)
dfMrgd.drop(columns=['index'], inplace=True)
dfMrgd[dfMrgd['rcmgCode'].isna()]

23

,publicYm,fisclYr,unityGrupNm,entrprsNm,rprsntvNm,fondDe,grinil,indutyCode,indutyNm,ordtmEmplyCo,...,assetsTotamt,debtTotamt,caplTotamt,caplAmount,selngAmount,thstrmNtpfAmount,reconstrctur,jurirno,year2,rcmgCode
1962,201905,2018,네이버,(주)락스퀘어,조성환,2017/04/28,2018/03/01,J58,출판업,30,...,"1,892","2,838",-946,34,0,"-2,170",일반회사,1101116389757,2019,NaN
1963,201905,2018,넥슨,(유)와이즈키즈,김진의,2001/02/03,2001/02/03,C33,기타 제품 제조업,10,...,"119,877","1,157","118,720",108,213,-410,일반회사,1101140114740,2019,NaN
1965,201905,2018,넥슨,(유)엔엑스프로퍼티스,이도화,2001/04/12,2001/04/12,L68,부동산업,3,...,"65,593",782,"64,811",370,910,"-3,128",일반회사,1101140179778,2019,NaN
2114,201905,2018,효성,그랜드제오차(주),정성훈,2013/05/09,2018/04/01,K64,금융업,0,...,"19,285","32,254","-12,969",0,0,968,금융보험업,1101115132420,2019,NaN
2115,201905,2018,효성,프로베스트킹덤제일차(주),정성훈,2014/09/18,2018/04/01,K64,금융업,0,...,"17,344","50,844","-33,500",3,0,"-7,879",금융보험업,1101115516286,2019,NaN
2117,201905,2018,효성,그랜드제칠차(주),정성훈,2013/07/04,2018/04/01,K64,금융업,0,...,"57,100","85,697","-28,597",0,0,"2,857",금융보험업,1101115175024,2019,NaN
2119,201905,2018,효성,그랜드제육차(주),정성훈,2013/07/04,2018/04/01,K64,금융업,0,...,"15,285","22,002","-6,718",0,0,"1,113",금융보험업,1101115175173,2019,NaN

In [72]:
dfMrgd.iloc[1963, -1]

nan

In [73]:
dfMrgd.iloc[1963, -1] = 54063

In [74]:
dfMrgd.iloc[1965, -1] = 214529

In [75]:
dfMrgd.iloc[2114, -1] = 21018342

In [76]:
dfMrgd.iloc[2115, -1] = 24017662

In [77]:
dfMrgd.iloc[2117, -1] = 21076084

In [78]:
dfMrgd.iloc[2119, -1] = 21076247

In [79]:
dfMrgd[dfMrgd['rcmgCode'].isna()]

,publicYm,fisclYr,unityGrupNm,entrprsNm,rprsntvNm,fondDe,grinil,indutyCode,indutyNm,ordtmEmplyCo,...,assetsTotamt,debtTotamt,caplTotamt,caplAmount,selngAmount,thstrmNtpfAmount,reconstrctur,jurirno,year2,rcmgCode
1962,201905,2018,네이버,(주)락스퀘어,조성환,2017/04/28,2018/03/01,J58,출판업,30,...,"1,892","2,838",-946,34,0,"-2,170",일반회사,1101116389757,2019,NaN

In [80]:
len(dfMrgd)

2121

In [81]:
len(df)

2121

In [84]:
if not os.path.exists(f'../data/cmpnySumry'):
    os.makedirs(f'../data/cmpnySumry')
dfMrgd.to_excel(f'../data/cmpnySumry/cmpnySumry{year}Eng.xlsx', index=False)

In [85]:
dfMrgd.columns = ['공개년월', '회계년', '기업집단명', '소속회사명', '대표자', '설립일', '계열편입일', '업종코드', '영위업종',
       '종업원수', '결산기일', '결산주총일', '기업공개일', '자산총액', '부채총액', '자본총액', '자본금', '매출액',
       '당기순이익', '구분', '법인등록번호', 'year2', 'rcmgCode']

In [86]:
dfMrgd.to_excel(f'../data/cmpnySumry/cmpnySumry{year}Kor.xlsx', index=False)